@import "../../../variables";

.bryj-navbar-container {
  @media screen and (min-width: 900px) {
    padding: 1rem 0;
  }
  @media screen and (max-width: 899px) {
    padding: 0.5rem 0;
  }

  .bryj-navbar-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (min-width: 900px) {
      .bryj-li-hover:not(:first-child) {
        margin-left: 1rem;
      }
      justify-content: flex-start;
    }
    @media screen and (max-width: 899px) {
      justify-content: center;
    }
    .bryj-li-hover {
      text-align: center;

      padding: 0.5rem;
      font-size: 1.375rem;
      border-bottom: 2px solid $bryj-light-background;
      @media screen and (min-width: 900px) {
        font-size: 1.375rem;
      }
      @media screen and (max-width: 899px) {
        font-size: 0.875rem;
      }
    }
    .bryj-li-hover:hover {
      border-bottom: 2px solid $bryj-light-background;
      background-color: $bryj-light-background;
    }
    .bryj-animation-on-click:active {
      border-radius: 6px;
      background-color: $bryj-light-background;
      opacity: 0.5;
    }
    a,
    li {
      list-style: none; /* Remove o marcador de lista */
      margin: 0; /* Remove as margens */
      padding: 0; /* Remove o preenchimento */
      text-decoration: none; /* Remove o sublinhado */
      cursor: pointer; /* Define o cursor como ponteiro ao passar o mouse */
      color: white;
    }

    a:focus,
    a:active,
    a:visited {
      outline: none; /* Remove a borda de foco */
      text-decoration: none;
    }
  }
}
