.modal-list-item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  .country-flag {
    width: 6rem;
    height: auto;
  }
}
