$bryj-primary-background-light: #f0f5f5;
$bryj-secondary-background-light: #d9e3e3;
$bryj-primary-text-light: #333;

$bryj-primary-background-dark: #1a202c;
$bryj-secondary-background-dark: #2d3748;
$bryj-primary-text-dark: #f0f5f5;
