@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// generic
.secondary-dark-background {
  background-color: $bryj-secondary-background-dark;
}

.secondary-light-background {
  background-color: $bryj-secondary-background-light;
}
