@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// generic
.secondary-dark-background {
  background-color: $bryj-secondary-background-dark;
}

.secondary-light-background {
  background-color: $bryj-secondary-background-light;
}

.dark-border {
  border: 8px solid $bryj-secondary-background-dark;
}

.light-border {
  border: 8px solid $bryj-secondary-background-light;
}
.dark:hover {
  background-color: $bryj-primary-background-dark;
}
.light:hover {
  background-color: $bryj-primary-background-light;
}
